.hero {
  margin-bottom: 100px !important;
}

.heroImg {
  margin-bottom: 50px;
}

.header {
  font-family: Tangerine !important;
  font-size: 100px !important;
  font-weight: 100 !important;
  text-align: center;
  margin-bottom: 80px !important;
}

.galleryHeader {
  font-family: Tangerine !important;
  font-size: 130px !important;
  font-weight: 100 !important;
  text-align: center;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}

.mobileHeader {
  font-family: Tangerine !important;
  font-size: 50px !important;
  font-weight: 100 !important;
  text-align: center;
}

.subheader {
  font-family: Avenir, Tahoma, Arial, Helvetica, sans-serif !important;
  font-family: Tangerine !important;
  font-size: 70px !important;
  text-align: center;
  margin: 20px !important;
  font-weight: 100 !important;
}

.body {
  display: flex !important;
  align-items: center !important;
  margin-bottom: 80px !important;
}

p {
  font-family: Avenir, Tahoma, Arial, Helvetica, sans-serif !important;
  font-size: 18px !important;
  line-height: 1.8;
}
